<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t('global.home.Micropost') %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h4><%= t('global.Banner.Title') %></h4>
    <h2>
      <%= t('global.Banner.Subtitle') %>
    </h2>
    <%= link_to t('global.signUpNow'), signup_path, class: "btn btn-lg btn-primary"
    %>
  </div>
  <%= link_to image_tag("apple-touch-icon-precomposed.png",id: "logo", alt: "Rails logo", width: "200") %>
<% end %>
