<% provide(:title, "Log in") %>
<h1> <%= t('global.Login') %> </h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true, class: 'needs-validation') do |f|%>
        
        <%= f.label t('global.email'), class: "form-label" %>
        <%= f.email_field :email, class: 'form-control', required: true %>
        
        <%= f.label t('global.password') %>
        <%= link_to t('global.forgot_password'), new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control', required: true %>
         
         <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>  <%= t('global.Remember_me') %></span>
        <% end %>

        <%= f.submit t('global.Login'),  class: "btn btn-primary"  %>
        <p><%= t('global.newUser') %>? <%= link_to t('global.signUpNow'), signup_path %></p>
    <% end %>
    </div>
</div>
