<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 30), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content"><%= comment.content %></span>
</li>
