<%= form_with(model: current_user.active_relationships.build,
local: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit t('global.Follow'), class: "btn btn-primary" %>
<% end %>
