<%= form_with(model:
current_user.active_relationships.find_by(followed_id:
@user.id),
html: { method: :delete }, local: true) do |f| %>
  <%= f.submit t('global.Unfollow'), class: "btn" %>
<% end %>
