<% provide(:title, 'Sign up') %>
<%= provide(:title, "Edit User") %>
<h1><%= t('global.UpdateUser') %></h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, t('global.Name') %>
        <%= f.text_field :name, class: "form-control", required: true %>
        <%= f.label :email, t('global.email') %>
        <%= f.email_field :email, class: "form-control", required: true  %>
        <%= f.label :password,t('global.Password')%>
        <%= f.password_field :password, class: "form-control", required: true  %>
        <%= f.label :password_confirmation, t('global.Confirmation') %>
        <%= f.password_field :password_confirmation, class: "form-control", required: true  %>
        <%= f.submit t('global.SaveChange'), class: "btn btn-primary" %>
        <% end %>
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="https://gravatar.com/emails" target="_blank"><%= t('global.ProfileChange') %></a>
        </div>
    </div>
</div>

