<% provide(:title, 'All users') %>
<h1><%= t('global.AllUsers') %></h1>


<div class="container">
<div class= "col-md-6 col-md-offset-3">
    <%= form_tag search_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('global.Search')  %>
        <%= submit_tag t('global.Search'), class: "btn btn-primary" %>
    <% end %>
</div>
</div>

<%= will_paginate %>

<ul class="users">
    <% @users.each do |user| %>
        <li>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %>
            |  <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        </li>
    <% end %>
</ul>



<%= will_paginate %>
