<% provide(:title, 'Sign up') %>
<h1 class="display-6"><%= t('global.Signup') %></h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @user, local: true, class:"g-3 needs-validation") do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :name, t('global.Name'), class: "form-label" %>
        <%= f.text_field :name, class: 'form-control', required: true %>
        
        <%= f.label t('global.email'), class: "form-label" %>
        <%= f.email_field :email, class: 'form-control', required: true %>
        
        <%= f.label :password, t('global.password'), class: "form-label" %>
        <%= f.password_field :password, class: 'form-control', required: true %>
        
        <%= f.label :password_confirmation, t('global.Confirmation'), class: "form-label" %>
        <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
        
        <%= f.submit t('global.CreateMyAccount'), class: "btn btn-primary" %>
        
        <% end %>
    </div>
</div>

