
  <%= form_with(model: @comment,  local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, class: "form-control", required: true%>
    </div>
    <%= hidden_field_tag :micropost_id, micropost_id %>
    <% if !:content.blank? %>
      <%= f.submit "Comment", class: "btn btn-primary" %>
    <% end %>
    <br />
  <% end %>
