<% if object.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
        <div class="alert alert-danger">
            The form contains <%= pluralize(object.errors.count, "error") %>.
        </div>
        <% object.errors.full_messages.each do |msg| %>
            <ul>
                <li> <%= msg %> </li>
            </ul>
        <% end %>
    </div>
<% end %>
