<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t('global.home.postForm.CreateMicroPost'), class:'form-control', required:true %>
  </div>
  <%= f.submit t('global.home.postForm.PostBtnTitle'), class: "btn btn-primary" %>
  <span style="margin-top:10px;" class="image">
   
  </span>

  <div class="mb-3">
  <label for="formFileSm" class="form-label"><%= t('global.AddImage') %></label>
   <%= f.file_field :image,  class: "form-control form-control-sm" %>
</div>
<% end %>
