<%# <%= render 'likes/dislike_form' %> 
<li id="micropost-<%= micropost.id %>">
  <span>
   <% if current_user?(micropost.user) %>
        <%= social_share_button_tag(micropost.content) %>
    <% end %>
   <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <div>
    <% if !current_user.likedComment?( micropost.id ) %>
        <%# <%=  form_with(model: @like,  local: true) do |f| %>
          <%# <%= hidden_field_tag :micropost_id, micropost.id %>
          <%# <%= f.submit t('global.home.microposts.Like'), class:  "comments_link btn btn-link" %>
          <%# <br /> %>
          <%= link_to "Like", edit_like_path("#{micropost.id}"),  class: "comments_link" %>

<%# <% end %>
    <% else %>
  <%# <%= form_with(model: current_user.likes.find_by(micropost_id: micropost.id), html: {method: :delete},  local: true, class:  "like_dislike_link") do |f| %>
    <%# <%= hidden_field_tag :micropost_id, micropost.id %>
    <%# <%= f.submit t('global.home.microposts.Unlike'), class:  "like_dislike_link comments_link" %>
    <%# <br /> %>
    <%= link_to "Dislike", current_user.likes.find_by(micropost_id: micropost.id), method: :delete, class: "comments_link" %>

  <%# <% end %>
<% end %>
</div>
  </span>
  <span style="margin-bottom:5px;margin-top:5px" class="content">
  <%= image_tag micropost.display_image if micropost.image.attached?%>
  </span>
  <div  class="content">
    <a class="comments_link" href="#micropost-comments<%= micropost.id %>" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" ><%= t('global.home.microposts.Comments') %> <%= micropost.comments.count  %></a>

<span class = "comments_link"> Likes <%= micropost.likes.count  %> </span>
 <% if current_user?(micropost.user) %>
    <%= link_to "Delete Post", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'comments_link' %>
  <% end %>
<span class="timestamp">
  Posted <%= time_ago_in_words(micropost.created_at) %> ago.
</span>
<div  style="margin-top:15px;margin-bottom:15px;"  class="collapse" id="micropost-comments<%= micropost.id %>">
  <%# <% if !current_user?(micropost.user) %>
  <% if true %>
    <%= render 'shared/comment_form', micropost_id: micropost.id  %>
  <% end %>
  <div class="card card-body">
    <% if micropost.comments.any? %>
      <h5> <%= t('global.home.microposts.Comments') %> (<%= micropost.comments.count %>)</h5>
      <ol class="microposts">
        <% micropost.comments.each do |comment| %>
          <li  id="comment-<%= comment.id %>">
            <%= link_to gravatar_for(comment.user, size: 30), comment.user %>
            <span class="user"><%= link_to comment.user.name, comment.user %></span>
            <p>
              <%= comment.content %>
              <% if current_user?(comment.user) %>
                <%= link_to "Delete comment", comment, method: :delete, data: { confirm: "You sure?" }, class: 'comments_link' %>
              <% end %>
            </p>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
</div>
</li>
