<footer class="footer">
    <small>
        The <a href="https://www.railstutorial.org/">Ruby on Rails
            Tutorial</a>
        by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav>
        <ul>

            <li><%= link_to t('global.About'), about_path %></li>
            <li><%= link_to t('global.Contact'), contact_path %></li>
            <li><a href="https://news.railstutorial.org/"><%= t('global.News') %></a></li>
        </ul>
    </nav>
</footer>