<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("global.Sample_App"), '#', id: "logo" %>
    <nav class="header_nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right lg-menu-nav">
        <li><%= link_to t('global.Home'), root_path %></li>
        <li><%= link_to t('global.Help'), help_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('global.Languages') %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('global.Amharic'),  root_path(locale: :amh) %></li>
            <li><%= link_to t('global.English'),  root_path(locale: :en) %></li>
          </ul>
        </li>
        <% if logged_in? %>
          <li><%= link_to t('global.Users'), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('global.Account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('global.Profile'), current_user %></li>
              <li><%= link_to t('global.Setting'), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('global.Logout'), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('global.Login'), login_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right collapse navbarcollapse" id="bs-example-navbar-collapse-1">
        <li><%= link_to t('global.Home'), root_path %></li>
        <li><%= link_to t('global.Help'), help_path %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('global.Languages') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('global.Amharic'),  root_path(locale: :amh) %></li>
              <li><%= link_to t('global.English'),  root_path(locale: :en) %></li>
            </ul>
        </li>
        <% if logged_in? %>
          <li><%= link_to t('global.Users'), users_path %></li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('global.Account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('global.Profile'), current_user %></li>
              <li><%= link_to t('global.Setting'), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('global.Logout'), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('global.Login'), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
