<!DOCTYPE html>
<html>

<head>
    <title>
        <%= full_title(yield(:title)) %>
    </title>
    <meta name="viewport" content="width=device-width, initialscale=1"> 
    <%= csrf_meta_tags %>  
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%= render 'layouts/shim' %>

<body>
    <%= render 'layouts/header' %>
   
    <div class="container">
        <i class="bi bi-pencil-fill"></i>
        <% flash.each do |msg_type, msg| %>
            <div class="alert alert-<%= msg_type %>">
                <%= msg %>
            </div>
        <% end %>
        <%= yield %>
    </div>

     <%= render 'layouts/footer' %>
     <%# <%= debug(params) %>

</body>

</html>